$primary-color: #000;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	background-color: $primary-color;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 4rem;
	font-weight: 700;
	font-family: Tahoma;
}
.span-222{ animation: name duration timing-function delay iteration-count direction fill-mode;}
.span-1{ animation: animation 1s ease infinite alternate-reverse;}
.span-2{ animation: animation 1s ease 1s infinite alternate-reverse;}


@keyframes animation {
	from {transform: translateY(0);}
	to {transform: translateY(20px)}
}