include pug/libs/_libs

doctype html
include pug/head
body
	h1 Ya tut
	p pizda
	.govno
	//- + image('..../assets/associativnost haskell.jpg')
	img(src=require("./assets/associativnost haskell.jpg") alt="")
	